/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serifs
}

.FlexTable tr {
     border: 1px solid #BBBBBB;
     border-radius: 3px;
     padding: 3px;
 }
.FlexTable td {
    border: 1px solid #BBBBBB;
    /* border-radius: 3px; */
    padding: 5px;
}
.FlexTable {

}

.FlexTable-empty tr {
}
.FlexTable-empty td {
    border: 0px;
}
.FlexTable-empty {

}
